@model List<Job>
@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
<h1 class="text-center">List of Jobs Posted by @HttpContextAccessor.HttpContext.Request.Cookies["Type"] </h1>
<table class="table shadow-lg">
     <thead class="table-dark">
    <tr>
        <th>Job ID</th>
        <th>Job Title</th>
        <th>Job Description</th>
        <th>Vaccancy</th>
        <th>Salary</th>
        <th>Education Level</th>
        <th>CGPA</th> 
        <th>Details</th>  
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>

    @foreach(var item in Model)
            {
            <tr class="bg-light">
                <td>@item.Id</td>
                <td>@item.JobTitle</td>
                <td>@item.JobDescription</td>
                <td>@item.Vaccancy</td>
                <td>@item.Salary</td> 
                <td>@item.EducationLevel.EducationLevelName</td>
                <td>@item.CGPA</td>
                <td>
                <a href="/Job/details/@item.Id" class="btn btn-dark btn-outline-secondary">Details</a>
                </td>
                <td>
                <a href="/Job/edit/@item.Id" class="btn btn-dark btn-outline-info">Edit</a>
                </td>
                <td>
                <a href="/Job/delete/@item.Id" class=" btn btn-dark btn-outline-danger">Delete</a>
                </td>
            </tr>
               
            }
</table>
<div class="text-white">
    <a href="/job/create" class="btn btn-dark btn-outline-success">Add New job</a>
</div>
</div>