<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineJobPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/bootstrap-icons/bootstrap-icons.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>*@
    <link rel="stylesheet" href="~/lib/bootstrap-select/css/bootstrap-select.min.css"/>
    <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/Jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

</head>
<body>
        <nav class="navbar sticky-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" >
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Online Job Site <i class="bi-globe"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex ">
                        <ul class="navbar-nav flex-grow-1  ">
                    
                    @{ 
                        if(String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Request.Cookies["Type"])){
                                <li class="nav-item ml-auto">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="JobSeeker" asp-action="Create"><i class="bi-person-plus"></i> Job Seeker Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="JobSeeker" asp-action="Login"><i class="bi-box-arrow-in-right"></i> Job Seeker Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Company" asp-action="Create"><i class="bi-building"></i> Company Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Company" asp-action="Login"><i class="bi-box-arrow-in-right"></i> Company Login</a>
                                </li>
                      }else if(HttpContextAccessor.HttpContext.Request.Cookies["Type"]=="Company"){
                                  <li class="nav-item ml-auto">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Company" asp-action="Details"><i class="bi-person-circle"></i>@HttpContextAccessor.HttpContext.Request.Cookies["Name"]</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Company" asp-action="Logout"><i class="bi-box-arrow-left"></i> Company Logout</a>
                                </li>
                            if (HttpContextAccessor.HttpContext.Request.Cookies["CNoti"]=="True"){
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Company" asp-action="NotificationPage"><i class="bi-bell-fill"></i></a>
                                </li>
                            }
                            else
                            {
                                 <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Company" asp-action="NotificationPage"><i class="bi-bell"></i></a>
                                </li>
                            }
                        }else if(HttpContextAccessor.HttpContext.Request.Cookies["Type"]=="JobSeeker"){
                                  <li class="nav-item ml-auto">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="JobSeeker" asp-route-id="@HttpContextAccessor.HttpContext.Request.Cookies["id"]" asp-action="Details"><i class="bi-person-circle"></i>@HttpContextAccessor.HttpContext.Request.Cookies["Name"]</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="JobSeeker" asp-action="Logout"><i class="bi-box-arrow-left"></i> JobSeeker Logout</a>
                                </li>
                            if (HttpContextAccessor.HttpContext.Request.Cookies["JSNoti"]=="True"){
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="JobSeeker" asp-action="NotificationPage"><i class="bi-bell-fill"></i></a>
                                </li>
                            }
                            else
                            {
                                 <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="JobSeeker" asp-action="NotificationPage"><i class="bi-bell"></i></a>
                                </li>
                            }
                      }else if(HttpContextAccessor.HttpContext.Request.Cookies["Type"]=="Admin"){
                                  <li class="nav-item ml-auto">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index"><i class="bi-person-circle"></i>@HttpContextAccessor.HttpContext.Request.Cookies["Name"]</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Logout"><i class="bi-box-arrow-left"></i> Admin Logout</a>
                                </li>
                            }
                    }
                    </ul>
                    @*<form class="form-inline my-2 my-lg-0" asp-controller="Product" asp-action="Filter" style="padding-right: 25px;">
                        <input name="searchString" type="text" class="form-control" placeholder="Search for a product..." aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
                    </form>*@
                </div>
            </div>
        </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2022 - OnlineJobPortal -
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
