@model List<Job>
@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
<h1 class="text-center">List of Jobs</h1>
<form method="post"  action="/JobSeeker/Index">
 <div class="form-group row">
        <div class="form-group col-md-5">
    <input type="search" class="form-control col" name="fieldorTitle" value="@ViewBag.FT" placeholder="Enter Field or Job Titile" style="width:400px;" >
    </div>
    <div class="form-group col-md-5">
    <input type="search" class="form-control col"  name="salary" value="@ViewBag.SL" placeholder="Enter Minimum Amount of Salary" style="width:400px;">
    </div>
    <div class="form-group col-md-2">
    <input type="submit" value="Search" class="btn btn-light btn-outline-dark">
</div>   
</div>
</form>

<table class="table shadow-lg">
     <thead class="table-dark">
    <tr>
        <th>Job ID</th>
        <th>Job Title</th>
        <th>Company Name</th>
        <th>Vaccancy</th>
        <th>Salary</th>
        <th>City Name</th>
        <th>Job Field</th>
        <th>Education Level</th>
        <th>CGPA</th>
        <th>Details</th>  
    </tr>
    </thead>

    @foreach(var item in Model)
            {
            <tr class="bg-light">
                <td>@item.Id</td>
                <td>@item.JobTitle</td>
                <td>@item.Company.CompanyName</td>
                <td>@item.Vaccancy</td>
                <td>@item.Salary</td>
                <td>@item.City.CityName</td>
                <td>@item.Field</td>
                <td>@item.EducationLevel.EducationLevelName</td>
                <td>@item.CGPA</td>
                <td>
                <a href="/Job/details/@item.Id" class="btn btn-dark btn-outline-secondary">Details</a>
                </td>
            </tr>
               
            }
</table>
@*<div class="text-white">
    <a href="/job/create" class="btn btn-dark btn-outline-success">Add New job</a>
</div>*@
</div>