@model List<JobNotification>
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Notifications</h1>
<table class="table shadow-lg">
     <thead class="table-dark">
    <tr>
        <th>JobSeeker Name</th>
        <th>Company Name</th>
        <th>Job Title</th>
        <th>Applied Date</th>
        <th>Approval Status</th>
        <th>Company Details</th>

    </tr>
    </thead>

    @foreach(var item in Model)
            {
            <tr class="bg-light">
                <td>@item.JobSeeker.FirstName @item.JobSeeker.LastName</td>
                <td>@item.Company.CompanyName</td>
                <td>@item.Job.JobTitle</td>
                <td>@item.AppliedDate</td>
                <td>@item.ApprovalStatus</td>
                <td>
                <a href="/Company/Details/@item.CompanyId" class="btn btn-dark btn-outline-info">Detail</a>
                </td>
            </tr>
               
            }
</table>